                            #title {
                                color: white;
                                position: ;
                                left: 50px;
                                top: 35px;
                            }

                            #start-btn {


                                background-color: #FFB6C1;
                                margin-bottom: 10%;
                                margin-right: 110px;
                                margin-left: 10px;
                            }


                            #stop-btn {



                                background-color: #FFB6C1;
                                margin-bottom: 10%;
                            }

                            #reset-btn {

                                background-color: #FFB6C1;
                                margin-bottom: 10%;
                                margin-left: 100px;
                            }


                            .wrapper {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            #Pomodoro {
                                max-height: 100%;
                                max-width: 100%;
                                padding-top: 50px;
                                margin-bottom: 50%;
                                height: 400px;
                                width: 400px;

                                box-shadow: 10px 10px 50px 5px #FFE4E1;
                            }

                            #color {
                                background: #D3D3D3;
                                opacity: 4.0;
                                height: auto;
                                width: 400px;
                            }

                            h1 {
                                font: 50px/1.5 'Pacifico', Helvetica, sans-serif;
                                color: #fff;
                                text-align: center;
                                justify-content: center;
                                padding-bottom: 40px;
                            }

                            #circle {
                                position: flex;
                                text-align: center;
                                justify-content: center;
                                padding-top: 10px;
                                font: 50px/1.5 'Pacifico', Helvetica, sans-serif;
                                color: #FFE4E1;
                                text-align: center;
                                justify-content: center;
                                padding-bottom: 40px;
                            }

                            body {


                                background-size: cover;
                            }

                            #addbtn {


                                background: #d9d9d9;
                                color: #555;

                                text-align: center;
                                font-size: 16px;
                                cursor: pointer;
                                transition: 0.3s;
                                color: black;
                            }



                            h2 {}